
<ion-header>

    <ion-navbar>
        <ion-title align="center">
          Search Page
        </ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button> 
      <br>  
      <ion-buttons end>
          <button ion-button icon-only>
            <ion-icon name="settings"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  <ion-content class="bg-style">
  <!-- <ion-content padding *ngIf="!isSearchBarOpened">
      <ion-searchbar *ngIf="isSearchBarOpened">
        <ion-buttons end>
          <button ion-button icon-only *ngIf="!isSearchBarOpened" (click)="isSearchBarOpened=true">
            <ion-icon name = "search"></ion-icon>
          </button>
        </ion-buttons>
        </ion-searchbar>  -->
  
    <br>
  
    <h4 align="center">WELCOME TO THE SEARCH PAGE</h4>
    <ion-searchbar></ion-searchbar>
      <br>
      <br>
      <div class="Links">
        <ul>
          
      <li><a href="url">This is link 1</a></li>
      <br>
      <li><a href="url">This is link 2</a></li>
      <br>
      <li><a href="url">This is link 3</a></li>
      <br>
      <li><a href="url">This is link 4</a></li>
      <br>
      <li><a href="url">This is link 5</a></li>
      <br>
      <li><a href="url">This is link 6</a></li>
    </ul>
    </div>
  
  </ion-content>
  
  